---
---
<font size="-1">
<b>
  {{ entry.title }}  
</b>

<br>

{% if entry.conference %}
<em>
({{ entry.conference }}) 
</em>
{% endif %}
<!-- {{ entry.author  | replace_first: 'Zheng, Da Wei', '<b>Zheng, Da Wei</b>' }}-->
<!-- {{ entry.author  | replace_first: 'Zheng, Da Wei', '<b>Zheng, Da Wei</b>' }} -->
{{ reference | replace_first: 'Da Wei Zheng', '<em>Da Wei Zheng</em>' }}

<br> 

<button class="button0"  onclick="toggleBibtex{{entry.key}}()">Bibtex</button>

{% if entry.abstract %}
<button class="button0"  onclick="toggleAbstract{{entry.abstract}}()">Abstract</button>
{% endif %}
 
{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}"><input class="button1" type="button" value="doi" /></a>
{% endif %}
 
{% if entry.arxiv %}
    <a href="{{ entry.arxiv }}"><input class="button2" type="button" value="arXiv" /></a>
{% endif %}
 
{% if entry.link %}
    <a href="{{ entry.link }}"><input class="button4" type="button" value="link" /></a>
{% endif %}
 
{% if entry.code %}
    <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
{% endif %}

{% if entry.slides %}
    <a href="{{ entry.slides }}"><input class="button3" type="button" value="slides" /></a>
{% endif %}

<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>


<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

<script>
function toggleAbstract{{entry.abstract}}(parameter) {
    var x= document.getElementById('a{{entry.abstract}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>

</font>
